header{
    width:100vw;
    background-color: rgb(107, 107, 255);
}
header div{
    height:7vh;
    margin: 0px 0;
    width: 100%;
}
header div div {
    float:left;
    display:flex;
    align-items:center;
    width: 20vw;
}
header div div a{
    font-size: 3vw;
    margin:0 auto;
    text-align:middle;
    color: rgb(255, 239, 239);
    font-style: normal;
    font-family:Serif Bold, Helvetica, sans-serif;
}
body{
    background-image: url("../Images/background-1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width:100%;
    align-self:left;
    margin:0;
}
footer{
    background-color: rgb(96, 96, 155);
    height:50px;
    position:sticky;
    bottom:1;
    width:100%;
}
footer div{
    color:white;
    height: 100%; 
    width: 100%;
    display:table;
}
footer div p{
    display: table-cell;
    vertical-align:middle;
    text-align: right;
    width:100vw;
}
/*
.jump{
    display:none;
}
.jump2{
    display: block;
}
*/