body{
    background-image: url("../Images/background-1.svg");
    background-size: 101%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer div{
    color:white;
    height: 100%; 
    width: 100%;
    display:table;
}
footer div p{
    display: table-cell;
    vertical-align:middle;
    text-align: right;
}
footer{
    background-color: rgb(96, 96, 155);
    height:10vh;
    background-attachment: fixed;
}
/*test*/